<footer>
  <div class="background-1 p-2" style="display: flex; justify-content: space-around;">
    <h3 style="color: rgb(172, 172, 172);">⚒ Website by <a style="color: rgb(194, 194, 194);" href="https://github.com/JackCrispy">Crispy</a></h3></div>
  </div>
</footer>